<div class="modal fade" id="searchModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="searchModal" aria-hidden="true">
    <div class="modal-dialog modal-lg print-hide">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">{% trans %}search{% endtrans %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="{% trans %}close{% endtrans %}"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input id="mkdocs-search-query" type="text" class="form-control"
                        aria-label="{% trans %}search{% endtrans %}" aria-describedby="inputGroup-sizing-default">
                </div>
                <div id="mkdocs-search-results">
                    {% trans %}search-area-desc{% endtrans %}
                </div>

            </div>
        </div>
    </div>
</div>