{% extends "base.html" %}
{% block main_content %}
<div class="col-12 col-md-8">
  <p class="text-center display-3 text-primary"><i class="bi bi-cloud-sleet"></i></p>
  <p class="text-center display-4">404 Not Found</p>
  <p>{% trans %}404-desc-with-reason{% endtrans %}</p>
  <ul>
    <li>{% trans %}404-wrong-url{% endtrans %}</li>
    <li>{% trans %}404-moved-url{% endtrans %}</li>
  </ul>
  <p class="d-md-flex d-none">{% trans %}404-search-desktop{% endtrans %}</p>
  <p class="d-md-none">{% trans %}404-search-mobile{% endtrans %}</p>
  <p class="text-center"><a href="/">{% trans %}404-gotop{% endtrans %}</a></p>
</div> 
{% endblock %}